<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Bleg</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
    <string>This application requires permissions for the use of bluetooth to detect nearby devices the information will not be shared with the server</string>
    <key>NSBluetoothPeripheralUsageDescription</key>
    <string>This application requires permissions for the use of bluetooth to detect nearby devices the information will not be shared with the server</string>
    <key>NSCameraUsageDescription</key>
    <string>TripOnTime requires access to the camara to scan QR codes, the scanned information will be used to request data from a safe server</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>TripOnTime requires access to your location to monitor which unit is closer in the map. The location wont be shared with any other service because is only used locally in your device</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>TripOnTime requires access to your location to monitor which unit is closer in the map. The location wont be shared with any other service because is only used locally in your device.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>TripOnTime requires access to your location to monitor which unit is closer in the map. The location wont be shared with any other service because is only used locally in your device</string>
    <key>UIAppFonts</key>
    <array>
        <string>BlegIcon.ttf</string>
    </array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
