body {
  background: rgba(221, 221, 221, 1);
}

#box {
  display: flex;
  flex-flow: column;
  height: 90vh;                
}

#chart {
  border-radius: 10px 10px 0px 0px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  width: 100%;
  height: 90%;
}

#footerContainer {
  background-color: white;
  border-radius: 0 0 10px 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 10px;

  margin: 0;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
}

#chart-min,
#chart-max {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#txtMin,
#txtMax {
  color: #3e3e3e;
  font-weight: 500;
  font-size: 15px;
}

#min,
#max {
  color: #003180;
  font-weight: 700;
  font-size: 20px;
}