@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

* {
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #003180;
  background: linear-gradient(180deg, #003180 16%, rgba(221, 221, 221, 1) 15%);
}

.wrap {
  height: 100vh;
}

/*--- header ---*/

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;

  color: white;
  font-size: 20px;
  font-weight: 700;

  padding: 10px;
  padding-bottom: 0;
  margin: 0;
}

/*--- graphic (body) ---*/

#box {
  margin: 10px;
  margin-top: 0;

  display: flex;
  flex-flow: column;

  height: 75%;
}

#chart {
  border-radius: 10px 10px 0px 0px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);

  height: 90%;

  width: 100%;
}

#footerContainer {
  background-color: white;
  border-radius: 0 0 10px 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  padding: 10px;

  margin: 0;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
}

#chart-min,
#chart-max {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#txtMin,
#txtMax {
  color: #3e3e3e;
  font-weight: 500;
  font-size: 15px;
}

#min,
#max {
  color: #003180;
  font-weight: 700;
  font-size: 20px;
}

/*--- footer ---*/

.footer,
.footerSpan {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  background: #003180;
  background: linear-gradient(180deg, #003180 0%, rgba(0, 34, 209, 1) 100%);

  border-radius: 50px 50px 0px 0px;

  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  padding: 20px 10px 10px 20px;
  margin: 0;

  position: absolute;
  top: 90%;
  width: 100vw;
  height: 10%;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.51);

  transition: 0.5s;
}

.footer-title {
  margin: 0;
  margin-bottom: 17px;
  width: 100%;
  text-align: center;
}

/*- Cards -*/

.footer-cards-wrap {
  margin: 0;
  width: 100%;

  overflow: auto;
  display: block;
}

.footer-card {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;

  align-self: flex-end;

  background-color: white;

  margin: 10px;
  padding: 10px;

  border-radius: 10px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.footer-card-date-hour {
  flex-grow: 2;
}

.footer-card-date-hour > .footer-card-date-text {
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 700;
  text-align: justify;
  width: 100%;
}

.footer-card-date-hour > .footer-card-date {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 400;
}

.footer-card-temp {
  color: #3847ce;
  font-size: 24px;
}

.footerSpan {
  top: 0%;
  width: 100vw;
  height: 100%;
}
